<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AudioSwitcher.AudioApi" version="3.0.0" targetFramework="net48" />
  <package id="AudioSwitcher.AudioApi.CoreAudio" version="3.0.3" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Speech" version="8.0.0" targetFramework="net48" />
</packages>